@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navLink {
  position: relative;
  color: #fde68a;
  transition: all 0.3s ease;
}

.navLink:hover {
  color: white;
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #fbbf24;
  transition: width 0.3s ease;
}

.navLink:hover::after {
  width: 100%;
}

.footerLink {
  color: #fcd34d;
  transition: all 0.3s ease;
}

.footerLink:hover {
  color: white;
  padding-left: 6px;
}